**Name:** *Muhammad Umer Mansoor*

**Hamoye ID:** *16034c1f6341f000*

# Downloading Dataset to Google Colab

In [ ]:
!wget -v https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv

--2022-11-22 11:32:03--  https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/441122776/7768140?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221122T113203Z&X-Amz-Expires=300&X-Amz-Signature=bc5e0c8d160e28b4a78fad25ca1dfb15ea690ef132c61604ddaedce87a6cc2f2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=441122776&response-content-disposition=attachment%3Bfilename%3DFoodBalanceSheets_E_Africa_NOFLAG.csv&response-content-type=application%2Fvnd.ms-excel [following]
--2022-11-22 11:32:03--  https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/441122776/7768140?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221122T113203Z&X-Amz-Expires=300&X-Amz-Signature=bc5e0c8d160e28b4a78fad25ca1dfb15ea690ef132c61604ddaedce87a6cc2f2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=441122776&response-content-disposition=attachment%3Bfilename%3DFoodBalanceSheets_E_Africa_NOFLAG.csv&response-content-type=application%2Fvnd.ms-excel
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8603007 (8.2M) [application/vnd.ms-excel]
Saving to: ‘FoodBalanceSheets_E_Africa_NOFLAG.csv’

FoodBalanceSheets_E 100%[===================>]   8.20M  4.79MB/s    in 1.7s

2022-11-22 11:32:06 (4.79 MB/s) - ‘FoodBalanceSheets_E_Africa_NOFLAG.csv’ saved [8603007/8603007]

# Importing Libraries

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# Performing Step from Further Instructions For Graded Quiz

In [ ]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin1")

#Question 1:

**How would you check for the number of rows and columns in a pandas DataFrame named df?**

In [ ]:
df.shape

(60943, 12)

#Question 2:

**Which of the following dataframe methods can be used to access elements across rows and columns?**

In [ ]:
df.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

#Question 3:

**What is the total Protein supply quantity in Madagascar in 2015?**

In [ ]:
mad = df[df["Element"]=="Protein supply quantity (g/capita/day)"].groupby("Area")["Y2015"].sum()
mad["Madagascar"]

173.05

#Question 4:

**What is the total number of unique countries in the dataset?**

In [ ]:
len(df['Area'].unique())

49

#Question 5:

Given the following numpy array 

array  = ([[94, 89, 63],
           [93, 92, 48],
           [92, 94, 56]])

**How would you select  the elements in bold and italics from the array?**

In [ ]:
array  = np.array([[94, 89, 63], [93, 92, 48], [92, 94, 56]])
array[:2,1:]

array([[89, 63],
       [92, 48]])

#Question 6:


**Given the following python code, what would the output of the code give?**

**my_tuppy = (1,2,5,8)**

**my_tuppy[2] = 6**

In [ ]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: ignored

#Question 7:

**Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?**

In [ ]:
df[["Y2017","Area"]].groupby("Area").sum()

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34

#Question 8

**What is the total number and percentage of missing data in 2014 to 3 decimal places?**

In [ ]:
df.Y2014.isnull().value_counts()

False    59354
True      1589
Name: Y2014, dtype: int64

In [ ]:
miss_perc = 1589/60943*100
miss_perc

2.6073544131401474

#Question 9:

**What would be the output for?**

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

In [ ]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

# Question 14

**Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?**

In [ ]:
df.groupby("Element")["Y2017"].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

# Question 16



**Which of these python data structures is unorderly?**

In [ ]:
# Set

# Question 17

**Consider the following list of tuples:**

**y = [(2, 4), (7, 8), (1, 5, 9)]**

**How would you assign element 8 from the list to a variable x?**

In [ ]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][-1]
x

8

# Question 19

**A pandas Dataframe with dimensions (100,3) has how many features and observations?**

In [ ]:
# 100 rows and 3 observations.